<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 syntaxCheck="true">
	<testsuites name="testsuitesname" classname="testsuitesclassname">
		<testsuite name="testsuitename" classname="testclassname">
			<directory>.</directory>
		</testsuite>
	</testsuites>
</phpunit>